@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  background-color: rgb(255, 255, 255);
  color: black;
  font-family: 'Asap', sans-serif;
  font-size: 1.5em;
}

h2 {
  color: #305da1;
}

h3 {
  color: #305da1;
}

div {
  text-align: justify;
  text-justify: inter-word;
}

.column img {
  max-width: 100%;
  height: auto;
}

a,
a:visited,
a:hover,
a:active {
  color: #305da1;
}

.dark-btn,
.dark-btn:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  color: #305da1;
}

.nav-justified>li>a:hover {
  background-color: rgb(255, 255, 255);
}

pre {
  background-color: rgb(255, 255, 255);
  color: black;
  font-family: 'Asap', sans-serif;
}

@media (max-width: 767px) {
  .nav-justified {
    display: flex;
    flex-wrap: wrap;
  }

  .nav-justified>li {
    flex: 1 1 auto;
    text-align: center;
  }
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
}

.navbar-default {
  background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand {
  color: black;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #305da1;
  background-color: transparent;
}
